.container {
  width: 100%;
  border-radius: 50px;
  
}
.info{
  /* background-color: aqua; */
}
.icon {
  background-color: aliceblue;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 15px;
  color: orangered;
}
p{
  font-size: 16px;
}


/* form  */
.form {
  width: 95%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  
}
.btn-sendmessage {
  background-color: orangered;
}
.btn-sendmessage:hover {
  background-color: rgb(0, 0, 0);
  
}

input {
  width: 100%;
  padding: 4px;
  border: 2px solid #dfe6e9;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #ff9f43;
}
